.well {
    background-color: black;
    border-style: solid;
    border-width: 0px 0px 5px 0px;
    border-color: #0f0;
}
#pcp {
    text-align:center;
    color: #0f0;
    margin-top: -15px;
    margin-bottom: -25px
}
#chat {
    border: 1px solid #0f0;
    background: #36393E;
    height: 400px;
    color:#0f0;
}
#envio {
    margin-top:40px;
    background: #36393E;
    border: 1px solid #0f0;
    height: 45px;
    padding: 0px;
    color: #0f0;
}

#enviomod {
    background: #36393E;
    border-width: 0px 0px 0px 0px;
    border-style: solid;
    border-color: #0f0;
    height: 43px;
    outline: none;
}

#enviomod:active {
    background: #282B30;
}

#enviomod:hover {
    background: #282B30;
}

@media screen and (max-height: 570px) and (min-height: 501px) {
    #chat {
        height: 300px;
    }
}

@media screen and (max-height: 500px) and (min-height: 100px) {
    #chat {
        height: 200px;
    }
}

@media screen and (max-height: 749px) and (min-height: 670px) {
    #chat {
        height: 500px;
    }
}
@media screen and (max-height: 1024px) and (min-height: 750px) {
    #chat {
        height: 600px;
    }
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}
