<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PCP</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>
    
    <!-- HEADER -->
    <div class="window-frame">

        <div class="window-frame-inner">
            
            <!-- Project Cthullu Protocol o PCP ? -->
            <div><h5 class="window-title">Project Cthullu Protocol</h5></div>

            <!-- Buttons -->
            <div class="window-buttons">
                <button id="min-btn" type="button" class="window-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <button id="max-btn" type="button" class="window-btn">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
                <button id="close-btn" type="button" class="window-btn">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
            <!-- Borra esto andres (MAC) -->
        
        </div>

    </div>

    <div class="app-body">
        
        <div class="container" style="overflow:hidden;">
            
            <div class="row">
                <!-- chat-messages -->
                <div class="chat-messages col-xs-12"></div>
            </div>

            <div class="row">
                <form action="javascript:void(0);">
                    <!-- chat-textarea -->
                    <div class="chat-textarea">
                        <textarea type="text" class="chat-textarea-inner col-xs-10 col-sm-11" placeholder="Cthullu wants your soul"></textarea>
                        <!-- (Wtf enviomod?) -->
                        <button id="cthullu-btn" class="chat-textarea-btn col-xs-2 col-sm-1">
                            <img src="images/mini-cthullu.svg" id="cthulito"></img>
                        </button>    
                    </div>
                </form>
            </div>

        </div>
    </div>

    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Concat ? -->
    <script type="text/javascript">require('./js/control.js')</script>
    <script type="text/javascript">require('./js/app.js')</script>
    <!-- Fin -->

  </body>
</html>
