<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PCP</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body style="background: #282B30">
    <div class="col-xs-12 well" style="-webkit-app-region: drag">
        <h3 id="pcp">PCP</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12" id="chat">

            </div>
        </div>

        <div class="row">
            <textarea type="text" class="form-control col-xs-12" id="envio"></textarea>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
