<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PCP</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body style="background: #282B30" style="overflow:hidden;">
    <div class="col-xs-12 well" style="-webkit-app-region: drag">
        <h3 id="pcp">PCP</h3>
    </div>
    <div class="container" style="overflow:hidden;">
        <div class="row">
            <div class="col-xs-12" id="chat">

            </div>
        </div>

        <div class="row">
            <form action="javascript:void(0);">>
                <div id="envio">

                        <textarea type="text" class="col-xs-10 col-sm-11"
                        style="
                            overflow: hidden; 
                            height:20px;
                            resize: none;
                            outline: none; background: rgba(0,0,0,0); 
                            border: 0px;
                            margin-top:10px;
                            padding-left:25px"
                        
                        placeholder="Cthullu wants your soul"></textarea>
                    
                    <!-- Css aparte please -->
                        <button
                            class="col-xs-2 col-sm-1"
                            id="enviomod"
                            style="padding: 0px;">
                            <img src="images/mini.png" id="cthulito"></img>
                        </button>
                    
                </div>
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Hay que mover esto a un archivo separado -->
    <script type="text/javascript">

        sendBtn = document.getElementById('enviomod');
        sendBtn.addEventListener('mousedown', function() {
            document.getElementById('cthulito').src = 'images/mini-click.png';
        });

        sendBtn.addEventListener('mouseup', function() {
            document.getElementById('cthulito').src = 'images/mini.png';
        });

    </script>
    <!-- Fin -->

  </body>
</html>
