<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project Cthullu Protocol</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
  </head>
  <body>

    <!-- HEADER -->
    <div class="window-frame">

        <div class="window-frame-inner">

            <!-- Project Cthullu Protocol o PCP ? -->
            <div><h5 class="window-title">Project Cthullu Protocol</h5></div>

            <!-- Buttons -
            <div class="window-buttons">
                <button id="min-btn" type="button" class="window-btn">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <button id="max-btn" type="button" class="window-btn">
                    <span class="glyphicon glyphicon-chevron-up"></span>
                </button>
                <button id="close-btn" type="button" class="window-btn">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
             Comenta esto andres (MAC) -->
             <div class="window-buttons">
                 <button style="outline: none;" id="VerButt" class="btn btn-danger btn-xs">CRC</button>
             </div>

        </div>

    </div>

    <div class="app-body">

        <div class="container" style="overflow:hidden;">

            <div class="row">
                <!-- chat-messages -->
                <div class="chat-messages col-xs-12">
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                    <div>kdfoksofksod fksodkf osdk ofksdo fkosdk ofskd okf oksd </div>
                </div>
            </div>

            <div class="row">
                <form action="javascript:void(0);">
                    <!-- chat-textarea -->
                    <div id="chat-box" class="chat-textarea">
                        <textarea type="text" class="chat-textarea-inner" placeholder="Cthullu wants your soul!"></textarea>
                        <button id="cthullu-btn" class="chat-textarea-btn">
                            <img src="images/mini-cthullu.svg" id="cthulito"></img>
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- Name weirdo -->
    <div id="dragomonster" class="drag-modal"></div>

    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Concat ? -->
    <script type="text/javascript">require('./js/app.js')</script>
    <script type="text/javascript">require('./js/control.js')</script>
    <script type="text/javascript">require('./js/drag.js')</script>
    <!--<script type="text/javascript">require('./js/textarea.js')</script>-->
    <!-- Fin -->

  </body>
</html>
